@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --primary-color: #16417E;
    --secondary-color: #FFFFFF;
    --tertiary-color: #6EA0CE;
    --quartertiary-color: #9FB4CB;
    --quintenary-color: #FBFBFB;

    --font-inter: "Inter";
}

* {
    padding: 0;
    margin: 0;
}

.header-banner {
    margin: 44px 0 75px 56px;
}

.header-banner__title {
    font-family: var(--font-inter);
    color: var(--primary-color);
    font-weight: 400;
    font-size: 2.13rem;
}

.bold-text {
    font-weight: 800;
}

/*--- STYLES FORM ---*/
.form {
    margin: 0 0 91px 0;
    font-family: var(--font-inter);
    font-weight: 400;
}

.form__indication {
    font-size: 1.5rem;
    text-align: center;

    margin: 0 0 48px 0;
}

.form-container {
    width: 774px;
    padding: 48px 93px;

    border: 0.3px solid var(--tertiary-color);
    border-radius: 20px;

    margin: 0 auto;
}

.form-grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 52px;
    grid-column-gap: 154px;
    justify-content: center;
}

.div-container {
    display: flex;
    flex-direction: column;
}

.div-container__label {
    font-size: 1.13rem;
    margin: 0 0 13px 12px;
}


.div-container__input {
    width: 263px;

    font-size: 1.13rem;

    padding:  10px 0 10px 20px;
    border-radius: 10px;
    border: none;

    background-color: var(--quartertiary-color);
}

.div-container__input::placeholder {
    color: var(--quintenary-color);
    font-weight: 100;
}

.form-container__button {
    font-size: 1.25rem;
    color: var(--secondary-color);
    font-weight: 600;

    background-color: var(--primary-color);

    padding: 19px 56px;
    margin: 58px auto 0 auto;
    display: block;

    border: none;
    border-radius: 20px;

    transition: 0.3s;
}

.form-container__button:hover {
    cursor: pointer;
    background-color: #325089;
}

/*--- STYLES QUERY-RESULT ---*/
.query-result {
    font-family: var(--font-inter);
}

.query-result__title {
    font-size: 1.75rem;
    color: var(--primary-color);
    font-weight: 700;
    text-align: center;
    margin: 0 0 70px 0;
}

.query-result__cards {
    display: flex;
    justify-content: center;
    gap: 95px;
    margin: 0 0 34px 0;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 27px;

    padding: 20px 0;
    width: 256px;

    background-color: var(--tertiary-color);
    box-shadow: 2px 4px 8px 0 var(--quartertiary-color);

    border-radius: 20px;
}

.card__title {
    font-size: 1.75rem;
    font-weight: 600;
    color: var(--secondary-color);
}

.card__separator {
    width: 148px;
    border: none;
    height: 1px;
    background-color: var(--secondary-color);
}

.card__value {
    font-size: 1.5rem;
    color: var(--secondary-color);
    font-weight: 300;
}

.query-result__information {
    text-align: center;
    font-size: 1.25rem;
    color: var(--primary-color);
    font-weight: 400;
}

/*STYLES STATISTICS*/
.statistics {
    background-color: var(--primary-color);
    font-family: var(--font-inter);

    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 57px 0 0 0;
    padding: 70px 0 94px 0;
}

.statistics__title {
    color: var(--quintenary-color);
    font-weight: 300;
    font-size: 1.75rem;
    text-align: center;

    margin: 0 0 60px;
}

.statistics__update-button {
    font-size: 1.5rem;
    font-weight: 600;
    background-color: var(--primary-color);
    color: var(--secondary-color);

    border: 1px solid var(--quartertiary-color);
    border-radius: 20px;

    padding: 12px 45px;
    margin:  0 0 76px;

    transition: 0.3s;
}

.statistics__update-button:hover {
    cursor: pointer;
    background-color: #325089;
}

.statistics__cards {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 57px;
    grid-row-gap: 72px;
}

.statistic-card {
    background-color: var(--tertiary-color);
    padding: 21px 58px 21px 34px;
    border-radius: 20px;
    box-shadow: 2px 4px 8px 0 rgb(0, 0, 0, 0.25);
}

.statistic-card__icon {
    font-size: 2.8rem;
    margin: 0 0 28px;
}

.statistic-card__title {
    font-size: 1.5rem;
    color: #FBFBFB;
    font-weight: 300;
    margin: 0 0 28px;
}

.statistic-card__value {
    font-size: 1.75rem;
    color: var(--secondary-color);

    padding: 9px 20px;
    background-color: var(--quartertiary-color);
    display: inline-block;
    border-radius: 20px;
}

.statistics__separator {
    width: 866px;
    height: 0.5px;
    margin: 84px 0;

    border: none;
    background-color: var(--quartertiary-color);   
}

.statistics__graphics-cards {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 45px;
    grid-row-gap: 60px;
}

.graphic-card {
    border: 0.3px solid var(--tertiary-color);
    border-radius: 20px;
    padding: 31px 25px;
    box-shadow: 2px 4px 8px 0 rgb(0, 0, 0, 0.25);
}

.graphic-card__title {
    font-size: 1.5rem;
    color: var(--secondary-color);
    font-weight: 600;
    margin: 0 0 22px ;
}

.graphic-card__separator {
    width: 528px;
    border: none;
    height: 2px;
    background-color: var(--quartertiary-color);
    margin: 0 0 33px;
}

.graphic-card__bars {
    width: 528px;
}
