/*--- STYLES FOOTER ---*/

.footer-pag {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    padding: 40px 0;
    border-top: 0.1px solid var(--tertiary-color);

    background-color: var(--primary-color);
}

.footer-pag__text {
    font-size: 16px;
    font-family: var(--font-inter);
    font-weight: 300;
    color: var(--secondary-color);
}